/* 
    DEBUG
*/

/* 
    MAIN
*/

/* 
    MAIN-MENU-NAV
*/

/* .debug.main-menu-nav{
    background-color: lightblue;
} */

/* .debug .spotify-logo {
    background-color: crimson;
} */

/* 
    MAIN-HEADER
*/

/* .debug .main-header {
    background-color: lightcoral;
} */

/* 
    MAIN-CONTAINER
*/

/* .debug .main-container {
    background-color: lightgreen;
} */

/* 
    NAV HEADER MAIN MENU
*/
/* .debug .nav-header-main-menu {
    background-color: lightseagreen;
} */

/* 
    MAIN-HOME CONTAINER
*/
/* .debug .my-home-container {
    background-color: deepskyblue;
} */

/* .debug .album-played-card  {
    background-color: lightgrey;
} */

/* 
    FOOTER
*/

/* .debug.footer-nav {
    background-color: lightpink;
} */

/* .debug .song {
    background-color: red;
} */