/* 
    DEBUG
*/

/* 
    MAIN
*/

/* 
    MAIN-MENU-NAV
*/

.debug.main-menu-nav{
    width: 300px;
    background-color: lightblue;
}

.debug .spotify-logo {
    background-color: crimson;
    height: 150px;
    line-height: 150px;
}

/* 
    MAIN-HEADER
*/

.debug .main-header {
    height: 150px; 
    line-height: calc(150px - 40px);
    background-color: lightcoral;
}

/* 
    MAIN-CONTAINER
*/

.debug .main-container {
    background-color: lightgreen;
}

/* 
    MAIN-HOME CONTAINER
*/
.debug .my-home-container {
    background-color: deepskyblue;
}

.debug .recently-played-cards .album-played-card  {
    height: 200px;
    width: 200px;
    background-color: lightpink;
}

/* 
    FOOTER
*/

.debug.footer-nav {
    height: 150px;
    background-color: lightpink;
}