/* 
    EFFETTI
*/

.main-menu a:hover{
    color: white;
}

.nav-header-main-menu-small a:hover {
    color: white;
}

.song-nav ul li i:hover {
    color: white;
}

.song-nav ul li h6:hover {
    color: white;
    text-decoration: underline;
}

.play-buttons .fa-xl:hover, .play-buttons .fa-2xl:hover{
    transform: scale(1.2);
}
