/* 
    EFFETTI
*/

.main-menu a:hover, .playlist h5:hover{
    color: white;
}

.nav-header-main-menu-small a:hover {
    color: white;
}

.song-nav ul li i:hover {
    color: white;
}

.song-nav ul li h6:hover {
    color: white;
    text-decoration: underline;
}

.play-buttons .fa-xl:hover, .play-buttons .fa-2xl:hover{
    transform: scale(1.2);
}

.main-header a:hover {
    transform: scale(1.2);
}

.play-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.play-hover i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    font-size: 5em;
    color: white;
}

.album-played-card:hover .play-hover {
    display: block;
}

.play-bar .time-bar-seconds .time-id{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--border-button-color);
    position: absolute;
    top: -5px;
    left: 95%;
    display:none;
} 

.play-bar:hover .time-id, .devices ul li:last-child  .sound-volume:hover .volume-id {
    display: block;
}

.play-bar:hover .time-bar-seconds, .devices ul li:last-of-type .sound-volume:hover .volume-level{
    background-color: var(--border-button-color);
}

@keyframes play {
    0% {
        left: 27px;
        width: 0%;
    }

    100% {
        width: calc(100% - 58px);
    }
}