/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family: 'Figtree', sans-serif;
    }

    
:root {
    --main--size: 20px;
    --sound-bar-color: #5A5A5A;
    --border-button-color: #AEFF2F;
    --main-bg-color: #000;
    --secondary-bg-color: #080B13;
    --menu-bg-color: #141923;
    --footer-bg-color: #282828;
}
