/* 
    FILE CSS 
*/

@import url(reset.css);
@import url(debug.css);


/* 
    GENERAL
*/

/* 
    MAIN
*/
 main {
    display: flex;
 }

/* 
    MAIN MENU NAV
*/
.main-menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spotify-logo img, .spotify-logo h1 {
   display: inline-block;
}

.spotify-logo img {
    width: 50px;
}

.spotify-logo h1 {
    font-size: 2em;
}


/* 
    MAIN MENU CONTAINER
*/

.main-menu-container {
    flex-grow: 1;
}

/* 
    MAIN-HEADER
*/
.main-header {
    text-align: end;
}

/* 
    MAIN-CONTAINER
*/
.main-container {
    height: calc(100vh - 300px);
    padding: 20px;
}

/* 
FOOTER
*/

 .footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
/* 
    REPONSIVE
*/

/* Desktop Piccolo */
@media screen and (max-width: 1100px) {
    
}

/* Tablet */
@media screen and (max-width: 700px) {

}

/* Mobile Grande */
@media screen and (max-width: 600px) {

}


