/* 
    FILE CSS 
*/

@import url(reset.css);
@import url(debug.css);


/* 
    GENERAL
*/

/* 
    MAIN
*/
 main {
    display: flex;
 }

/* 
    MAIN MENU NAV
*/
.main-menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spotify-logo img, .spotify-logo h1 {
   display: inline-block;
}

.spotify-logo img {
    width: 50px;
}

.spotify-logo h1 {
    font-size: 1.8em;
}

/* 
    MAIN MENU
*/

.main-menu ul h4 {
    padding: 0 0 10px 10px;
}

.main-menu ul li:first-of-type {
    padding: 5px 0 10px 10px;
}

.main-menu ul h4 {
    padding-top: 10px;
}

.main-menu ul li{
    padding: 10px;
}

.main-menu ul:first-of-type li:first-of-type {
    border-left: 4px solid orchid;
}

.profile {
    margin-bottom: var(--main--size);
}

.profile h6 {
    margin: 10px 0 10px 20px;
}

.profile hr{
    width: 90%;
    margin: 0 auto 10px auto;
}

.profile a {
    margin-left: var(--main--size);
}

/* 
    MAIN MENU CONTAINER
*/

.main-menu-container {
    flex-grow: 1;
}

/* 
    MAIN-HEADER
*/
.main-header {
    padding: var(--main--size);
    text-align: end;
    vertical-align: middle;
}

/* 
    MAIN-CONTAINER
*/
.main-container {
    height: calc(100vh - 300px);
    overflow: auto;
}


/* 
    NAV HEADER MAIN MENU
*/
.nav-header-main-menu {
    text-align: center;
    position: sticky;
    top: 0;
    padding: var(--main--size);
}   

.nav-header-main-menu ul li{
    display: inline-block;
}

/* 
    MY-HOME-CONTAINER 
*/
.my-home-container {
    height: 100%;
    overflow: auto;
}
/* 
    RECENTLY PLAYED CONTAINER
*/

h2 {
    padding: 50px 10px 20px 10px;

}

p {
    padding: 0 10px 10px 10px;
}

.my-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.my-card {
    width: calc((100% / 6) - 20px);
    height: 100%;
    text-align: center;
    margin-left: 10px ;
    margin-right: 10px;

}

.album-played-card {
    width: 100%;
    height: 300px;
}

/* 
    MADE FOR ME CONTAINER
*/

/* 
FOOTER
*/
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  var(--main--size);
}

/* 
    REPONSIVE
*/

/* Desktop Piccolo */
@media screen and (max-width: 1100px) {
    
    .my-row:first-of-type{
        height: 100%;
    }

    .my-row  {
        height: 40%;
    }

    .my-card {
        width: calc((100% / 4) - 20px);
        height: 100px;
    }
    
}

/* Tablet */
@media screen and (max-width: 700px) {

    .my-card {
        width: calc(50% - 20px);
        height: 100px;
    }

    .my-row .my-card:nth-child(3), .my-row .my-card:nth-child(4), .my-row .my-card:nth-child(5), .my-row .my-card:nth-child(6) {
        margin-top: 200px;
    }

    .profile a {
        font-size: 13px;
    }

}

/* Mobile Grande */
@media screen and (max-width: 600px) {

    h1 {
        display: none;
    }

    .spotify-logo h1, .main-menu ul li a strong, .main-menu ul li a span, .playlist, .profile span {
        display: none;
    }

    .main-menu ul li:first-of-type {
        border-left: none;
    }
    
    .main-menu ul:first-of-type li:first-of-type {
        border-left: none;
    }
    

}


